<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Daniel Renfro Bookmark App</title>
</head>
<body>
  <header>
    <h1>My Bookmarks</h1>
  </header>
  <main>
    <section class="my-bookmarks">
      <div class="bookmark-controls">
        <button >Add Bookmark</button>
        <select>
          <option value="">Filter By</option>
          <option value="1">1 Star</option>
          <option value="2">2 Stars</option>
          <option value="3">3 Stars</option>
          <option value="4">4 Stars</option>
          <option value="5">5 Stars</option>
        </select>
      </div>
      
      <section>
        <ul class="bookmark-list">
            <li class="bookmark">
              <h3>Bookmark Title</h3>
              <p>5 Stars</p>
            </li>
            <div>
              <h4>Description</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <button type="button">Visit URL</button>
            <button type="button">Delete</button>
            <li class="bookmark">
              <h3>Bookmark Title</h3>
              <p>5 Stars</p>
            </li>
            <li class="bookmark">
              <h3>Bookmark Title</h3>
              <p>5 Stars</p>
            </li>
            <li class="bookmark">
              <h3>Bookmark Title</h3>
              <p>5 Stars</p>
            </li>
        </ul>
      </section>
    </section>
  </main>
</body>
</html>