@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  font-family: "Montserrat";
  text-align: center;
}

.my-bookmarks {
  border: steelblue solid 1px;
  margin: auto;
  width: 90vw;
}

.bookmark-controls {
  display: flex;
  justify-content: center;
}

.bookmark-list {
  padding: 0;
}

.bookmark {
  border: grey solid 1px;
  margin: 15px 10px 15px 10px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bookmark .bookmark-title {
  background-color: #455A75;
  color: #C9E0FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.bookmark .bookmark-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.bookmark .bookmark-description {
  padding: 10px 15px 10px 15px;
  width: 100%;
}

.bookmark h3 {
  font-family: "Lora";
  margin-left: 20px;
}

.bookmark h4 {
  font-family: "Lora";
}

.bookmark p {
  font-family: "Hind Madurai";
  margin-right: 20px;
}

/* Styling for the Bookmark in Edit Mode */

.edit-bookmark {
  border: grey solid 1px;
  margin: 15px 10px 15px 10px;
  border-radius: 5px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.edit-bookmark .bookmark-title {
  background-color: #455A75;
  color: #C9E0FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edit-bookmark .bookmark-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.edit-bookmark .bookmark-description {
  padding: 10px 15px 10px 15px;
  width: 100%;
}

.edit-bookmark h3 {
  font-family: "Lora";
  margin-left: 20px;
}

.edit-bookmark h4 {
  font-family: "Lora";
}

.edit-bookmark p {
  font-family: "Hind Madurai";
  margin-right: 20px;
}

.edit-bookmark input {
  font-family: "Hind Madurai";
}

.edit-bookmark label {
  font-family: "Lora";
}

/* ---------------------------------------- */

.btn {
  font-family: 'Hind Madurai';
}

.error-message {
  display: flex;
  justify-content: space-between;
  background-color: #F9BFB4;
  width: 90%;
  margin: auto;
  padding: 0px 15px 0px 15px;
}

.error-message p {
  color: #A31D02;
  font-family: "Hind Madurai";
}

input {
  display: block;
}

textarea {
  display: block;
}

@media all and (min-width: 800px) {
  .my-bookmarks {
    width: 30vw;
  }
}